@charset 'UTF-8';

/*
* variables
*/

/* font-size */
$fontSizeBase: 60px;
$fontSize200: 3.333333rem; //200px
$fontSize160: 2.666666rem; //160px
$fontSize140: 2.333333rem; //140px
$fontSize120: 2rem; //120px
$fontSize100: 1.666666rem; //100px
$fontSize80: 1.333333rem; //80px
$fontSize75: 1.25rem; //75px
$fontSize70: 1.166666rem; //70px
$fontSize64: 1.066666rem; //64px
$fontSize50: 0.833333rem; //50px
$fontSize48: 0.8rem; //48px
$fontSize44: 0.733333rem; //44px
$fontSize40: 0.666666rem; //40px
$fontSize36: 0.6rem; //36px
$fontSize32: 0.533333rem; //32px
$fontSize30: 0.5rem; //30px
$fontSize28: 0.466666rem; //28px
$fontSize24: 0.4rem; //24px
$fontSize21: 0.35rem; //21px
$fontSize20: 0.333333rem; //20px
$fontSize18: 0.3rem; //18px
$fontSize16: 0.266666rem; //16px
$fontSize15: 0.25rem; //15px
$fontSize14: 0.233333rem; //14px
$fontSize12: 0.2rem; //12px
$fontSize10: 0.166666rem; //10px
